@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.btn{
  width: 100px;
  background:linear-gradient(to left,#04c879,#04f8aa);
}
.input-text{
  transition: 300ms;
  transform: scale(0.1);
  display: none;
}
.input-text textarea{
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-size: 15px;
  border-radius: 10px;
  background: #6cf3c6;
}
.show{
  display: block;
  transform: scale(1);
}
.edit{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transform: scale(0.1);
  transition: 500ms;
  display: none;
}
.edit textarea{
  width: 100%;
  height: 15rem;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #6cf3c6;
}
.edit-visible{
  display: block;
  transform: scale(1);
}
.inputButton{
  display: flex;
  flex-direction: row;
  gap:1rem;
}
.inputButton button{
  width: 100%;
  background:linear-gradient(to left,#04c879,#04f8aa);
  cursor: pointer;
}
.inputButton i{
  cursor: pointer;
}

p{
  text-align: center;
  line-height: 2;
}



main {
  margin-left: 5rem;
  padding: 3rem;
}

h1{
  font-size: 30px;
}


/*main head word */
#headword{
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px white;
  margin: 3rem;

}
/*main paragraph */
.head-p{
  
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
  padding: 2rem;
}
/*section with main paragraph and maon head */
.head{
  padding: 1rem;
  height: 100%;
  background:url("Sri_Lankan_Leopard_\(Panthera_pardus_kotiya\)_.jpg");
  background-size: cover;
  filter:opacity(10px);
  margin-left: 5rem;
  padding: 3rem;
}

/*sub section */
.container {
  align-items: center; 
 }
 
.sub-image {
   max-width: 100%;
   max-height:100%;
   float: left;
}

.text {
   font-size: 15px;
}
.sub-sec{
  text-align: left;
  margin-left: 2rem;
}
#will{
  text-align: left;
}

 /*--------------*/
ul,ol{
  margin-left: 3rem;
  line-height: 2rem;
}

/* section with  animals images*/
.box{
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  padding: 2rem;
  border-radius: 10px;
  
}

/*section with list*/
.list{
  display:flex;
  flex-direction: row;
  gap: 5rem;
}

/*small gallery*/
.grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  align-items: center;
  padding: 10px;
  gap: 1rem;
 }
 .grid .wide{
  grid-column: span 2;
 }
 .grid .tall{
  grid-row: span 2;
 }
 .grid .big {
  grid-column: span 2;
  grid-row: span 2;
 }
 
 /* flip card style*/
 .flip-card {
  background-color: transparent;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  perspective: 1000px;
 }
 /* flip card background*/
 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.6s;
  transform-style:preserve-3d;
  box-shadow: 2px -2px 6px rgba(0,0,0,0.2);
 }
 /* flip card rotate 180 degrees */
 .flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
 }
 /* flip card front and back */
 .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
 }
 
 .flip-card-front {
  background-color: #bbb;
  color: black;
 }
 
 .flip-card-back {
  backdrop-filter:blur(10px);
  padding: 1rem;
  color: white;
  transform: rotateX(180deg);
 }
 /* paragraph inside flip card*/
 .flip {
  text-align: left;
  line-height: 1.2;
  font-size:10px;
 }

 footer{
  margin-bottom: 0rem;
 }

 /*ul list*/
 .ul li a{
  text-decoration: none;
  cursor: pointer;
 }
 .ul li a:hover{
  text-decoration:underline;
  color: aqua;
 }

 
 
 #image{
  font-size: small;
  text-align: center;
 }
 @media only screen and (max-width: 600px) {
  #home{
    border-radius: 100%;
    background:transparent;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin:4px;
  }
  
  .grid{
   align-items: center;
   display:grid;
   grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  }
  .flip-card{
   width: 200px;
   height: 200px;
  }
  .flip{
   font-size:9px;
   line-height: 1;
  }
  h1{
   font-size: 10px;
  }
  .sub-sec{
    font-size: 12px;
    margin-left:0;
  }
  #sub-head{
    font-size: 14px;
  }
  .head{
    margin-left: 0;
    padding: 1rem;
  }
  .box {
    padding: 1rem;
  }
  #headword{
    font-size: 25px;
  }
  .head-p{
    font-size: 12px;
    line-height: 1.3;
    text-align:center;
  }
  #gallery-head{
    font-size:20px;
    text-align: center;
  }
}