main {
  padding: 70px;
}
p {
  text-align: left;
}
.headlogos{
  margin-left: 5rem;
}
.section{
  background: #10443e;
  padding: 1rem;
  border-radius: 8px;
}
.grid {
  display:flex;
  flex-direction: column;
  grid-auto-rows: 200px;
  gap: 1rem;
 }
 .p{
  font-size: 12px;
 }
 a{
  text-decoration: none;
 }
 .grid button{
  padding: 5px 5px;
  outline: none;
  border: none;
  background: #04251a;
  border-radius: 10px;
  cursor: pointer;
  box-shadow:0 2px #c2fef1
}

button:active{
  box-shadow: 0 2px #15523e;
  transform: translateY(4px);
}
  table,th,td{
  border:2px solid;
  border-collapse:collapse ;
  padding:0.6rem;
 }
 th{
  background:#10443e;
 }
 td{
  background:#116057;
 }
 iframe{
  border-radius: 9px;
  border: 0px;
  width: 100%;
 }
 .img-map{
  display:flex;
  flex-direction: row;
  margin: 1rem;
  width: 100%;
 }



 
 
 @media only screen and (max-width: 600px) {
  #introduction{
    border-radius: 100%;
    background:transparent;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin:4px;
  }
  th{
    display: none;
  }
  td{
    display: block;
    border: 0;
  }
  iframe{
    width:100%;
  }
  td::before{
    content: attr(data-cell);
    font-weight: 700;
  }
  td:first-child{
    padding-top: 2rem;
  }
  td:last-child{
    padding-bottom: 2rem;
  }
  table{
    border:1px solid ;
    width: 100%;
  }
 }

