#videobg{
 border-radius: 10px;
 width: 100%;
}
main{
 margin-left: 5rem;
}
.video{
 padding: 4rem;
}
.head-txt{
 font-family: 'Emblema One', system-ui;
 text-align: center;
 font-size: 50px;
}
iframe{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}
.animation{
 background: url("yala1.jpeg");
 background-repeat: no-repeat;
 
 background-size: cover;
 border-radius: 10px;
 animation-name: yala;
 animation-duration: 10s;
 animation-delay: 0s;
 animation-iteration-count: infinite;
}

.class{
 margin: 4rem;
 padding: 1rem;
 border-radius: 10px;
 box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

@keyframes yala{
 0% {background: url("yala1.jpeg");
  background-size: cover;
 }
 25% {background: url("yala2.jpeg");
  background-size: cover;
 }
 50% {background: url("yala3.jpeg");
 background-size: cover;
 }
 100% {background: url("yala4.jpeg");
 background-size: cover;
 }
}

.grid{
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin: 4rem;
 box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
 padding: 1rem;
 border-radius: 9px;
 gap: 1rem;
}



@media only screen and (max-width: 600px) {
 main{
  margin-left: 0;
 }
 .video{
  padding: 1rem;
 }
 .grid{
  display: flex;
  flex-direction: column;
  margin: 1rem;
 }
 .class{
  margin: 1rem;
 }
 
}